:root {
  --toolbar-bg-color: rgba(249, 249, 250, 1);
  --toolbar-border-color: rgba(204, 204, 204, 1);
  --button-hover-color: rgba(221, 222, 223, 1);
  --ul-width: 10em;
}

* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  align-items: stretch;
  font-family: Inconsolata, Consolas;
}

aside {
  min-width: max-content;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0 0.5em;
  border-right: solid 1px var(--toolbar-border-color);
}

nav, header {
  position: fixed;
  top: 0;
  left: 0;
  height: 32px;
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
}

header {
  width: 100%;
  z-index: -1;
  background-color: var(--toolbar-bg-color);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
}

aside > div {
  margin-top: 32px;
  height: calc(100% - 32px);
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form {
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

section {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 1.2em 0 0 0;
  min-height: 10em;
  max-height: calc((100vh - 32px) * 0.7);
  border: solid 1px black;
  border-radius: 4px;
}

section:not(#sections) > div {
  border-left: solid 1px black;
}

h2 {
  font-size: inherit;
  position: absolute;
  top: -1.2em;
  left: 0;
  margin: 0;
  padding: 0;
}

ul {
  width: var(--ul-width);
  max-width: var(--ul-width);
  margin: 0;
  padding: 5px;
  box-sizing: content-box;
}

section ul:not(:last-child) {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

section > div {
  display: flex;
  flex-direction: column;
}

section > div > ul:first-child {
  flex: 1;
}

section > div > ul:last-child {
  border-top: solid 1px black;
  height: 1.7em;
  background-color: #d0d0d0;
}

section > div span {
  position: absolute;
  width: calc(var(--ul-width) / 1.2);
  display: block;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  user-select: none;
}

li {
  margin: 0;
  padding: 1px;
  display: block;
  border: solid 1px gray;
  border-radius: 3px;
  overflow-x: scroll;
  cursor: grab;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}

#sections {
  flex-direction: column;
  --ul-width: calc(10em * 2 + 5px * 2 + 1px);
}

#sections > div {
  border-top: solid 1px black;
}

#sections > div > ul:first-child {
  min-height: 1em;
}

.sortable-selected {
  background-color: #f9c7c8;
  border: solid red 1px !important;
  z-index: 1 !important;
}

.sortable-ghost {
  opacity: 0.5;
}

.selected {
  color: #a66;
}

#auto_projs {
  font-size: 0.8em;
}

nav * {
  vertical-align: top;
}

nav select {
  margin: 6.5px;
  margin-right: 3.5px;
}

.btn {
  width: 28px;
  height: 28px;
  display: inline-block;
  outline: none;
  background: none;
  line-height: 14px;
  user-select: none;
  margin: 2px 1px;
  padding: 2px 6px 0;
  min-width: 16px;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: default;
}

.btn::before {
  content: '';
  background-color: black;
  opacity: 0.7;
  mask-size: cover;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  display: inline-block;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

a.btn::before {
  mask-image: url(web/images/toolbarButton-editorInk.svg);
}

#refresh::before {
  mask-image: url(web/images/secondaryToolbarButton-rotateCcw.svg);
}

#loading {
  display: inline-block;
  font-size: initial;
  margin: 6.5px;
}
