:root {
  --toolbar-bg-color: rgba(249, 249, 250, 1);
  --toolbar-border-color: rgba(204, 204, 204, 1);
  --button-hover-color: rgba(221, 222, 223, 1);
}

* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  align-items: stretch;
  font-family: "Inconsolata", Consolas;
}

aside {
  position: relative;
  min-width: 10em;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  border-right: solid 1px var(--toolbar-border-color);
}

nav, header {
  position: fixed;
  top: 0;
  left: 0;
  height: 32px;
  box-sizing: border-box;
  padding: 0;
  font-size: 0;
}

header {
  width: 100%;
  z-index: -1;
  background-color: var(--toolbar-bg-color);
  box-shadow: 0 1px 0 var(--toolbar-border-color);
}

aside > div {
  margin-top: 32px;
  height: calc(100% - 32px);
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y proximity;
}

form {
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

section, .fake-section {
  position: relative;
  margin: 1.2em 0.5em 0 0.5em;
}

section {
  display: flex;
  align-items: stretch;
  min-height: 10em;
  max-height: calc((100vh - 32px) * 0.7);
  border: solid 1px black;
  border-radius: 4px;
}

section > div {
  border-left: solid 1px black;
}

h2 {
  font-size: inherit;
  position: absolute;
  top: -1.2em;
  left: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  user-select: none;
}

ul {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

section ul:not(:last-child) {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

section > ul {
  width: 50%;
}

section > div {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

section > div > ul:first-child {
  flex: 1;
}

section > div > ul:last-child {
  border-top: solid 1px black;
  height: 1.7em;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  padding: 0;
}

section span {
  position: absolute;
  display: block;
  font-size: 1.2em;
  text-align: center;
  user-select: none;
}

li {
  margin: 0;
  padding: 1px;
  display: block;
  border: solid 1px gray;
  border-right-width: calc(0.5em * var(--judgement-len) + 0.7em);
  border-radius: 3px;
  cursor: grab;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  user-select: none;
  position: relative;
}

.sortable-selected {
  background-color: #f9c7c8;
  border: solid red 1px !important;
  z-index: 1 !important;
}

.sortable-ghost {
  opacity: 0.5;
}

.selected {
  color: #a66;
}

#auto_projs {
  font-size: 0.8em;
}

nav * {
  vertical-align: top;
}

nav select {
  margin: 6.5px;
  margin-right: 3.5px;
}

.btn {
  width: 28px;
  height: 28px;
  display: inline-block;
  outline: none;
  background: none;
  line-height: 14px;
  user-select: none;
  margin: 2px 1px;
  padding: 2px 6px 0;
  min-width: 16px;
  border-radius: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: default;
}

.btn::before {
  content: '';
  background-color: black;
  opacity: 0.7;
  mask-size: cover;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  display: inline-block;
}

.btn:hover {
  background-color: var(--button-hover-color);
}

#edit::before {
  mask-image: url(web/images/toolbarButton-editorInk.svg);
}

#full::before {
  mask-image: url(web/images/toolbarButton-zoomIn.svg);
}

#refresh::before {
  mask-image: url(web/images/secondaryToolbarButton-rotateCcw.svg);
}

#code::before {
  mask-image: url(web/images/toolbarButton-presentationMode.svg);
}

#llm::before {
  mask-image: url(web/images/annotation-newparagraph.svg);
}

#loading {
  display: inline-block;
  font-size: initial;
  margin: 6.5px;
}

#editor {
  margin: 0;
  height: calc(100vh - 32px - 19px);
  width: 100%;
  scroll-snap-align: end;
  font-size: 14px;
}

#splitter {
  position: absolute;
  right: -3px;
  width: 5px;
  top: 0;
  height: 100%;
  background-color: #e8e8e8;
  z-index; 2;
  cursor: ew-resize;
  opacity: 0.01;
}

#splitter:hover {
  background-color: #7f7f7f;
  opacity: 1;
  mix-blend-mode: difference;
}

li.judgement-5 {
  border-color: #37640c;
  border-right-width: calc(0.5em + 0.7em);
}

li.judgement-5::after {
  content: '✔';
  right: calc(-0.5em - 0.35em - 2px);
  top: -2px;
}

li.judgement-4 {
  border-color: #84c076;
}

li.judgement-3 {
  border-color: #b4ba8a;
}

li.judgement-2 {
  border-color: #ff9b33;
}

li.judgement-1 {
  border-color: #eb2727;
}

li::after {
  content: attr(x-judgement-worst);
  display: block;
  position: absolute;
  right: calc(-0.5em * var(--judgement-len) - 0.35em);
  top: 0;
  color: white;
}
