html, body, main {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: stretch;
  font-family: Inconsolata, Consolas;
}

aside {
  min-width: max-content;
  margin: 0;
  padding: 0.5em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

form {
  display: none;
}

main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: inherit;
}

iframe.inactive {
  z-index: -1;
  visibility: none;
}

iframe.loading {
  z-index: 1;
  opacity: 0.3;
}

section {
  position: relative;
  display: flex;
  align-items: stretch;
  padding: 1.2em 0 0 0;
  min-height: 10em;
  height: 10em;
}

h2 {
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

ul {
  min-height: 2em;
  --ul-width: 10em;
  width: var(--ul-width);
  max-width: var(--ul-width);
  border: solid 2px black;
  margin: 0;
  padding: 5px;
  border-radius: 4px;
}

section ul:not(:last-child) {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

section > div {
  display: flex;
  flex-direction: column;
}

section > div > ul:first-child {
  flex: 1;
}

section > div > ul:last-child {
  height: 2em;
  background-color: #d0d0d0;
}

section > div span {
  position: absolute;
  width: calc(var(--ul-width) / 1.5);
  display: block;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

li {
  margin: 0;
  padding: 1px;
  display: block;
  border: solid 1px gray;
  border-radius: 3px;
  overflow: hidden;
  cursor: grab;
}

.sortable-selected {
  background-color: #f9c7c8;
  border: solid red 1px !important;
  z-index: 1 !important;
}

.sortable-ghost {
  opacity: 0.5;
}

.selected {
  color: #a66;
}
